@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

table {
  font-variant-numeric: tabular-nums;
}

::selection {
  background-color: #ffedd5;
}
